@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header{
  display: flex;
  padding: 0px 16px 0px;
}

.footer{
  display: flex;
  padding: 0px 16px 0px;
  background-color: #eeeeee;
}

ul{
  list-style-type: none;
  padding-left: 0px;
}

.left-links{
  display: flex;
  gap: 18px;
}

.left-links a,
 .right-links a{
  text-decoration: none;
  color: #4C4C4C;
}

.right-links{
  display: flex;
  margin-left: auto;
  gap: 18px;
}

.content{
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}